noShadow()
	box-shadow: 0 0px 0px rgba(0,0,0,0.02), 0 0px 0px rgba(0,0,0,0.12) !important
materialShadowL0()
	box-shadow: 0 1px 2px rgba(0,0,0,0.02), 0 1px 2px rgba(0,0,0,0.12)
materialShadowL1()
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24)
materialShadowL2()
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23)
materialShadowL3()
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23)
materialShadowL4()
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22)
materialShadowL5()
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22)
transition(prop, seg, type)
	transition prop seg type
	-webkit-transition prop seg type
radius(t, l, b, r)
	-webkit-border-radius t l b r !important
	-moz-border-radius t l b r !important
	-ms-border-radius t l b r !important
	-o-border-radius t l b r !important
	border-radius t l b r !important

shadow(t, l, b, color)
	-webkit-box-shadow t l b color
	-moz-box-shadow t l b color
	-ms-box-shadow t l b color
	-o-box-shadow t l b color
	box-shadow t l b color

box-sizing(prop)
	box-sizing prop
	-webkit-box-sizing prop

no-appearance()
	-webkit-appearance none
	 -moz-appearance none
	 -ms-appearance none
	 -o-appearance none
	 appearance none

flexbox(n)
	display: -webkit-box
	display: -webkit-flex
	display: -moz-box
	display: -moz-flex
	display: -ms-flexbox
	display: flex
	-webkit-box-flex: n
	-webkit-flex: n
	-moz-box-flex: n
	-moz-flex: n
	-ms-flex: n
	flex: n
	width 100%

// padding(l,value)
// 	if l == 't'
// 		padding-top value
// 	if l == 'b'
// 		padding-bottom value
// 	if l == 'l'
// 		padding-left value
// 	if l == 'r'
// 		padding-right value
// 	else
// 		padding value value value value

padding-box(l,value)
	if l == 't'
		padding-top value
	if l == 'b'
		padding-bottom value
	if l == 'l'
		padding-left value
	if l == 'r'
		padding-right value
	else
		padding value value value value

