@media screen and (max-width:845px)
	.inline
		display block !important
		width 100% !important
	
	.text-wrapper
		margin 0px auto
		max-width 400px
		padding 0px 10px
		box-sizing(border-box)
	.iphone-wrapper, .iphone-wrapper-contact
		margin 0px auto
		max-width 400px
		padding 0px 10px
		box-sizing(border-box)
	.iphone-wrapper
		left: -50px !important
	.iphone-wrapper-contact
		left: 70px !important
	.wrapper-main 
		& .text-wrapper
			margin 40px auto 65px auto  !important
	
	#top-bar
		&.main-top,
		&.contact-top
			padding 10px 10px !important
			background rgba(0,0,0,.3)
			& .wrapper-top 
				& img
					height 60px !important 
				& .float-right
					top 20px !important

@media screen and (max-width:400px)
	.iphone-wrapper
		left: -100px !important