@import "fullpage"
@import "functions"
@import "responsive"

body
	font-family: 'Ubuntu', sans-serif
.inline
	display inline-block
	vertical-align middle
	width 48%
#top-bar
	position fixed
	z-index 100
	width 100%
	transition(all,.3s,ease)
	& .wrapper-top
		max-width 1200px
		margin 0px auto
		position relative
		& img
			display inline-block
			transition(all,.3s,ease)
		& .float-right
			position absolute 
			right: 0px	
			top 0px
			transition(all,.3s,ease)
			& .link
				color white 
				text-decoration none
				text-transform uppercase
				padding 5px 10px
				display inline-block
				radius(6px,6px,6px,6px)
				&:hover 
					background rgba(0, 0, 0, .2)
	&.main-top
		padding 20px 20px
		box-sizing(border-box)
		& .wrapper-top 
			& img
				height 100px
			& .float-right
				top 40px
	&.contact-top
		padding 10px 20px
		box-sizing(border-box)
		background rgba(0,0,0,.3)
		& .wrapper-top 
			& img
				height 70px
			& .float-right
				top 22px
		

.main
	background url('../img/main.jpg')
	background-repeat: no-repeat
	background-position: top center
	background-attachment: fixed
	background-size: cover
	overflow hidden
	&:before
		content ''
		top 0px 
		left 0px
		position absolute
		width 100%
		height 100%
		background rgba(0, 0, 0, .4)
	& .wrapper-main
		position: relative
		margin 0px auto
		max-width 800px
		bottom 0px
		& .iphone-wrapper
			top 500px
			position: relative
			padding 0px 100px 
			box-sizing(border-box)
			& .iphone-gold
				position relative
				z-index 3
				top -30px
			& .iphone-black
				position absolute
				z-index 1
				top 0px
				left 120px
			& .iphone-white
				z-index 2
				position absolute
				top 0px
				left 120px
		& .text-wrapper
			text-align center
			& h2
				color white
				text-transform uppercase
			& p
				color #e6e6e6
			& hr
				margin 20px 0px
				border 0px
				height 2px
				background rgba(255, 255, 255, .4)

.contact
	background url('../img/pattern.png')
	background-repeat: repeat
	overflow hidden
	& .wrapper-contact
		position: relative
		margin 0px auto
		max-width 800px
		bottom 0px
		& .iphone-wrapper-contact
			top 0px
			position: relative
			padding 0px 100px 
			box-sizing(border-box)
			& .iphone-gold-perspective
				position relative
				z-index 3
				top 0px
			& .iphone-black-perspective
				position absolute
				z-index 1
				top 0px
				left 100px
		& .text-wrapper
			text-align center
			& h2
				color white
				text-transform uppercase
			& p
				color #e6e6e6
			& hr
				margin 20px 0px
				border 0px
				height 2px
				background rgba(255, 255, 255, .4)	
.center
	text-align center
.btn
	background transparent 
	border 0px
	display inline-block
	text-decoration none
	&:focus
		outline 0px
	&.medium
		padding 15px 20px
		&.radius
			radius(20px,20px,20px,20px)
			

.btn-flat
	text-transform uppercase
	font-weight bold
	&.yellow
		background #FFD550
		color #806b25
		&.shadow
			shadow(0,0,10px,#FFD550)
			&:hover
				cursor pointer
				shadow(0,0,40px,#FFD550)

.block 
	display block
	width 100%
	max-width 100%

.wrapper-field
	margin 10px 0px
	text-align left
	& label
		color white
		display block
		margin-bottom 7px
	& .field
		border 1px solid rgba(0, 0, 0, .1)
		background rgba(0, 0, 0, .75)
		font-size 14px
		color white
		padding 10px 
		box-sizing(border-box)
		&:focus
			outline none
			border 1px solid #FFD550

footer
	display block
	height 50px 
	line-height: 50px
	background #080808
	color white 
	text-align center
.error
	color #f41919	
.radio-custom
	position: relative
	box-sizing: border-box
	-moz-box-sizing: border-box
	padding: 3px 5px 3px 2px
	margin-bottom: 2px
	-webkit-border-radius: 3px 3px 3px 3px
	-moz-border-radius: 3px 3px 3px 3px
	-ms-border-radius: 3px 3px 3px 3px
	-o-border-radius: 3px 3px 3px 3px
	border-radius: 3px 3px 3px 3px
	display: block
	width: 100%
	margin 7px 0px
	& input[type=radio]
		display: none
		visibility: hidden
	& input[type=radio]:checked + label:before
		border-color: #FFD550
	& input[type=radio] + label
		cursor: pointer
	& input[type=radio]:checked + label:after
		width: 12px
		height: 12px
		left: 4px
		top: 5px
		background: #FFD550
	& label
		display inline-block
		vertical-align middle
		color: #9c9c9c
		margin-left: 5px
		position: relative
		& span
			margin-left 5px
			display inline-block
			vertical-align middle
		&:before
			content: ''
			radius(10px,10px,10px,10px)
			background: transparent
			border 2px solid #080808 
			height: 16px
			width: 16px
			display: inline-block
			vertical-align middle
			text-align: center
		&:after
			position: absolute
			content: ''
			width: 0px
			height: 0px
			left: 10px
			top: 10px
			transition(all, .4s ,ease)
			radius(6px,6px,6px,6px)
			background: transparent
			background: transparent 
			display: inline-block
			text-align: center