<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>Crayon Star Honduras - Desarrollo de Aplicaciones Web, Páginas Web y Aplicaciones Móviles</title>
	<link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
	<meta name="description" content="Diseño y producción de soluciones informáticas, aplicaciones web y moviles que apoyen a los procesos de negocio de las empresas a nivel nacional y latinoamericano." />
	<meta name="Keywords" content="desarrollo web, desarrollo movil, ios, android, honduras,django,angularjs, aplicaciones moviles, aplicaciones web" />
	<link rel="stylesheet" href="css/style.css">
	<link href='https://fonts.googleapis.com/css?family=Ubuntu:700,500' rel='stylesheet' type='text/css'>
	<!-- Open Graph data-->
	<meta property="og:site_name" content="Crayon Star Honduras - Desarrollo de Aplicaciones Web, Páginas Web y Aplicaciones Móviles">
	<meta property="og:type" content="website">
	<meta property="og:title" content="Crayon Star Honduras - Desarrollo de Aplicaciones Web, Páginas Web y Aplicaciones Móviles">
	<meta property="og:description" content="Diseño y producción de soluciones informáticas, aplicaciones web y moviles que apoyen a los procesos de negocio de las empresas a nivel nacional y latinoamericano.">
	<meta property="og:url" content="http://crayonstar.com/landing/">
	<meta property="og:image" content="http://crayonstar.com/landing/img/crayonstar-desarrollo-web.png">
	<meta property="og:image" content="http://crayonstar.com/landing/img/crayonstar-desarrollo-web.png" />
	<meta property="og:image:secure_url" content="https://crayonstar.com/landing/img/crayonstar-desarrollo-web.png" /> 
	<meta property="og:image:width" content="640" /> 
	<meta property="og:image:height" content="442" />
	<!-- Twitter Card data -->
	<meta name="twitter:card" content="summary_large_image">
	<meta name="twitter:title" content="Crayon Star Honduras - Desarrollo de Aplicaciones Web, Páginas Web y Aplicaciones Móviles">
	<meta name="twitter:description" content="Diseño y producción de soluciones informáticas, aplicaciones web y moviles que apoyen a los procesos de negocio de las empresas a nivel nacional y latinoamericano.">
	<meta name="twitter:url" content="http://crayonstar.com/landing">
	<meta name="twitter:image:src" content="http://crayonstar.com/landing/img/crayonstar-desarrollo-web.png">
</head>
<body ng-app="LandingCrayonStarApp">
	<div id="top-bar" class="main-top">
		<div class="wrapper-top">
			<a target="_blank" href="http://crayonstar.com">
				<img height="80" src="img/crayonstar-logo.png" alt="">
			</a>
			<div class="float-right">
				<a href="#contacto" class="link contacto">Contacto</a>	
				<a href="#inicio" class="link inicio">Inicio</a>
			</div>
		</div>
	</div>
	<div id="fullpage">
	    <div class="section main">
	    	<div class="wrapper-main">
	    		<div class="inline text-wrapper">
		    		<h2>Soluciones Inteligentes para tus grandes ideas</h2>
		    		<p>Ofrecemos soluciones empresariales de gran calidad y excelentes precios en el desarrollo de Aplicaciones Móviles para los Sistemas Operativos: iOS y Android</p>
		    		<hr>
		    		<div class="center">
		    			<a href="#contacto" class="btn btn-flat yellow medium radius shadow" type="button">Contactar Ahora</a>
		    		</div>
		    		
		    	</div>
	    		<div class="inline iphone-wrapper">
	    			<img class="iphone-black" height="550" src="img/iphone-black.png" alt="">
		    		<img class="iphone-gold" height="620" src="img/iphone-gold.png" alt="">
		    		<img class="iphone-white" height="550" src="img/iphone-white.png" alt="">
		    	</div>
	    	</div>
	    </div>
	    <div class="section contact" ng-controller="ContactCtrl">
	    	<div class="wrapper-contact">
	    		<div class="inline iphone-wrapper-contact">
	    			<img class="iphone-black-perspective" height="620" src="img/iphone-black-perspective.png" alt="">
		    		<img class="iphone-gold-perspective" height="620" src="img/iphone-gold-perspective.png" alt="">
		    	</div>
				<div class="inline text-wrapper">
					<h2>Pongase en contacto con nosotros</h2>
					<hr>
					<form ng-submit="sendFormContact()">
			    		<div class="wrapper-field">
			    			<label for="">Nombres y Apellidos</label>
			    			<input ng-model="formContact.name" type="text" class="field block">
			    			<div><small class="error" ng-bind="error.name"></small></div>
			    		</div>
			    		<div class="wrapper-field">
			    			<label for="">Correo Electrónico</label>
			    			<input ng-model="formContact.email" type="email" class="field block">
			    			<div><small class="error" ng-bind="error.email"></small></div>
			    		</div>
			    		<div class="wrapper-field">
			    			<label for="">Pais</label>
			    			<input ng-model="formContact.country" type="text" class="field block">
			    		</div>
			    		<div class="wrapper-field">
			    			<label for="">Presupuesto</label>
							<div class="radio-custom block">
								<input id="option1" ng-model="formContact.budget" name="options" type="radio" value="$1k - $2k">
								<label for="option1">
									<span>$1k - $3k</span>
								</label> 

								<input id="option2" ng-model="formContact.budget" name="options" type="radio" value="$2k - $3k">
								<label for="option2">
									<span>$3k - $5k</span>
								</label> 

								<input id="option3" ng-model="formContact.budget" name="options" type="radio" value="$3k+">
								<label for="option3">
									<span>$5k+</span>
								</label>  
							</div>
							<div><small class="error" ng-bind="error.budget"></small></div>
			    		</div>
			    		<div class="wrapper-field">
			    			<label for="">Descripción del proyecto</label>
			    			<textarea ng-model="formContact.message" class="field block" name="" id="" cols="5" rows="3"></textarea>
			    			<div><small class="error" ng-bind="error.message"></small></div>
			    		</div>
			    		<hr>
			    		<div class="center">
			    			<button class="btn btn-flat yellow medium radius shadow" type="submit">{{labelBtn}}</button>
			    		</div>
			    		<div class="wrapper-field">
			    			<div class="center">
			    				<label for="" ng-bind="msgSuccess"></label>
			    			</div>
			    		</div>
			    	</form>
		    	</div>
	    	</div>
	    </div>
	    <footer>
			<span>Copyright © 2016 Crayon Star.</span>
		</footer>
	</div>
	<script src="scripts/vendor.min.js"></script>
	<script src="scripts/main.min.js"></script>
</body>
</html>